body {
  background-color: #100539f9;
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #fff180e6;
  font-size: 1.3rem;
  font-weight: 470;
  line-height: 1.7;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: #3b136f;
  padding: 24px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;

  border-radius: 16px;
  border: 1px solid #2b2760;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}


h1{
  font-family: 'Playfair Display', serif;
  color: #FFD966;
  font-size: 2.3rem;
  font-weight: 550;
  letter-spacing: 1.5px;
  text-shadow:
    0 0 10px rgba(212, 175, 55, 0.6),
    0 0 22px rgba(143, 175, 177, 0.5);
}


h2 {
  font-family: 'Playfair Display', serif;
  color: #FFD966;
  font-size: 1.7rem;
  letter-spacing: 1.5px;
}
